
@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  cursor: pointer;
  font-family: inherit;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 4px;
}
